# Frontend ignores
acris-dashboard/node_modules/
acris-dashboard/dist/
acris-dashboard/dist-ssr/
acris-dashboard/*.local
acris-dashboard/.env

# Pipeline ignores
acris-data-pipeline/data/raw/
acris-data-pipeline/data/processed/

# Backend ignores
**/__pycache__/
**/*.pyc
backend/app.db
backend/backend.db
backend/storage/
backend/.env
backend/app/storage/
backend/app/app.db
backend/.venv/
.venv/
venv/
env/
backend/chroma_db/

# General ignores
**/.env
**/.env.local
**/.env.*
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PyInstaller ignores
backend/dist/
backend/build/
*.spec

